	html,body{
/* 		background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
		background-image: url('http://getwallpapers.com/wallpaper/full/6/e/8/90110.jpg');
/* 		background-image: url('http://getwallpapers.com/wallpaper/full/a/e/e/7532.jpg'); */
		background-size: cover;
		background-repeat: no-repeat;
	}
	div.card-group, div.card {
		max-width: 95%;
		margin: 2% auto;
	}
	div.card border-dark {
		margin: 20px;
	}
	img.img-icon {
		width: 25px;
		height: 25px;
		float: right;
		margin: 0 2px;
	}
	img.img-icon:hover {
		cursor:pointer;
	}
	img.img-icon-mini {
		width: 25px;
		height: 25px;
	}
	img.card-img, img.card-img-top {
		height: 250px;
		padding: 0 1px;
	}
	img.card-img:hover {
		cursor: pointer;
	}
	img.card-display {
		height: 250px;
		max-width: 100%;
		padding: 0 1px;
	}
	label > img.card-display {
		text-align: center;
	}
	img.postBy {
		width: 25px;
		height: 25px;
		border-radius: 50%;
	}
	p > img {
		max-width: 95%;
	}
	div.card-body > b {
		line-height: 42px !important;
	}
	div.collapse div.card-body {
		margin-bottom: -2px;
	}
	img#left-sign, img#left-sign {
		max-width: 95%;
	}
	img.member-icon {
		border-radius: 50%;
		width: 50px;
		height: 50px;
	}
	div.pp_image {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	div.reply {
		margin-bottom: 5px;
	}
	#btn-toast {
	    width: 70px;
	    height: 70px;
	    border:none;
	    position: fixed;
	    bottom: 100px;
	    right: 25px;
	    z-index: 1000;
	    border-radius: 50%;
	    font-size: 40px;
	    color:whitesmoke;
	    background:linear-gradient(#216683fb, #6ed3bdaf);
	}
	img.icon-toast {
		max-width: 90%;
		max-height: 90%;
	}
	div.toast {
		position: fixed;
		bottom: 100px;
		right: 100px;
	}