<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GroupBuy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <!-- jstl -->
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
  		<taglib-location>/WEB-INF/c.tld</taglib-location>
  	</taglib>
  	
  	<taglib>
  		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
  		<taglib-location>/WEB-INF/fmt.tld</taglib-location>
  	</taglib>
  </jsp-config>
<!-- jstl --> 
  
  
<!-- 連線池 -->
     <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB1</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
<!-- 連線池 --> 

<!-- 團購 -->

	<servlet>
		<servlet-name>GroupbuyServlert</servlet-name>
		<servlet-class>com.groupbuy.controller.GroupbuyServlert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupbuyServlert</servlet-name>
		<url-pattern>/groupbuy/groupbuy.do</url-pattern>
	</servlet-mapping>

	  <servlet>
	  	<servlet-name>ShowPoductInfo</servlet-name>
	  	<servlet-class>com.groupbuy.controller.ShowPoductInfo</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>ShowPoductInfo</servlet-name>
	  	<url-pattern>/groupbuy/showProductInfo.do</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	  	<servlet-name>GromemServlet</servlet-name>
	  	<servlet-class>com.gromem.controller.GromemServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>GromemServlet</servlet-name>
	  	<url-pattern>/gromem/gromem.do</url-pattern>
	  </servlet-mapping>
	  
<!-- 團購 -->

<!-- 商城 -->

	<servlet>
		<servlet-name>ProServlet</servlet-name>
		<servlet-class>com.product.controller.ProServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProServlet</servlet-name>
		<url-pattern>/product/pro.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProPic</servlet-name>
		<servlet-class>com.product.controller.ProPic</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProPic</servlet-name>
		<url-pattern>/product/proPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShopCartPic</servlet-name>
		<servlet-class>com.shopCart.controller.ShopCartPic</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ShopCartPic</servlet-name>
		<url-pattern>/shopCart/ShopCartPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FavpServlet</servlet-name>
		<servlet-class>com.favouriteProduct.controller.FavpServlet</servlet-class>
	</servlet>        
	
	<servlet-mapping>
		<servlet-name>FavpServlet</servlet-name>
		<url-pattern>/favouriteProduct/favp.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		    <servlet-name>ShopCartServlet</servlet-name>
		    <servlet-class>com.shopCart.controller.ShopCartServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>ShopCartServlet</servlet-name>
		    <url-pattern>/shopCart/Shopping.do</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
		    <servlet-name>PoServlet</servlet-name>
		    <servlet-class>com.productOrder.controller.PoServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
		    <servlet-name>PoServlet</servlet-name>
		    <url-pattern>/productOrder/Po.do</url-pattern>
	  </servlet-mapping>

<!-- 商城 -->	

<!-- 會員 + 討論區 -->

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/post/post.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommServlet</servlet-name>
		<servlet-class>com.comm.controller.CommServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommServlet</servlet-name>
		<url-pattern>/comm/comm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FavpostServlet</servlet-name>
		<servlet-class>com.favpost.controller.FavpostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FavpostServlet</servlet-name>
		<url-pattern>/favpost/favpost.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PtypeServlet</servlet-name>
		<servlet-class>com.ptype.controller.PtypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PtypeServlet</servlet-name>
		<url-pattern>/ptype/ptype.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowMemberPic</servlet-name>
		<servlet-class>com.member.controller.ShowMemberPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowMemberPic</servlet-name>
		<url-pattern>/member/ShowMemberPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowPostPic</servlet-name>
		<servlet-class>com.post.controller.ShowPostPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPostPic</servlet-name>
		<url-pattern>/post/ShowPostPic.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.member.controller.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/member/check.do</url-pattern>
	</servlet-mapping>
	
<!-- 會員 + 討論區 -->

<!-- 會員登入 + 會員登入濾器 -->

	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.member.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/member/login.do</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>MemberLoginFilter</filter-name>
		<filter-class>com.member.filter.MemberLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemberLoginFilter</filter-name>
		<url-pattern>/front-end/protected/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
<!-- 會員登入 + 會員登入濾器 -->
  
</web-app>